.dark-theme .ant-layout {
  background-color: #0c0d0e !important;
}

.ant-layout-header {
  background-color: transparent !important;
}

.dark-theme .ant-layout-sider {
  background-color: #0c0d0e !important;
}

[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

.dark-theme .ant-layout,
.dark-theme .ant-layout-content,
.dark-theme .ant-layout-header,
.dark-theme .ant-layout-sider,
.dark-theme .ant-layout-footer {
  color: rgba(255, 255, 255, 0.85) !important;
}

.light-theme .ant-layout,
.light-theme .ant-layout-content,
.light-theme .ant-layout-header,
.light-theme .ant-layout-sider,
.light-theme .ant-layout-footer {
  color: rgba(0, 0, 0, 0.85) !important;
}

.ant-statistic-title,
.ant-statistic-content {
  color: inherit !important;
}

.ant-progress-inner {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.dark-theme .ant-progress-inner {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.headerIcon .ant-dropdown-menu {
  border-radius: 6px;
  background: none;
  padding: 0;
  box-shadow: none;
}

.headerIcon .ant-dropdown-menu-item:hover,
.headerIcon .ant-dropdown-menu-item.ant-dropdown-menu-item-active {
  background: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login-form button[type='submit'] {
  margin-bottom: 20px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-table-thead>tr>th {
  font-weight: 700;
}

.ant-typography strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6 {
  color: #fff !important;
}

.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: rgba(0, 0, 0, 0.85) !important;
}

.ant-menu-inline {
  padding-bottom: 70px;
}

.tabContent .ant-tabs-right>.ant-tabs-content-holder,
.tabContent .ant-tabs-right>div>.ant-tabs-content-holder {
  border-right: none;
}

.tabContent .ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-2q8sxy).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  cursor: pointer;
}

.ant-menu-item {
  height: 36px !important;
}

@media (max-width: 768px) {
  .tabContent .ant-tabs-right>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
    padding-right: 0;
    margin-top: 30px;
  }

  .tabContent .ant-tabs {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}