.notification::-webkit-scrollbar {
  width: 4px;
  height: 60px;
}

.notification::-webkit-scrollbar-thumb {
  background: #1b98f5;
  border-radius: 4px;
}

.headerIcon {
  position: relative;
}

.ant-layout-header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: transparent !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-theme .ant-layout-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 992px) {
  .ant-layout-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0 !important;
  }
}

.headerIcon.ant-avatar {
  float: right;
  margin-left: 10px;
  margin-top: 15px;
  color: #fff;
  background: transparent;
}

.headerIcon.ant-avatar:hover {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.dark-theme .headerIcon.ant-avatar:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.1);
}

.headerIcon .last {
  margin-right: 30px;
}

.profileDropdown {
  display: flex;
  min-width: 200px;
}

.profileDropdownInfo {
  float: left;
  display: inline;
  padding-left: 15px;
}

.profileDropdownInfo p {
  margin: 0;
}

.mobile-sidebar-btn {
  display: none;
  color: rgba(0, 0, 0, 0.85) !important;
  border: none !important;
  background: transparent !important;
}

.dark-theme .mobile-sidebar-btn {
  color: #fff !important;
}

.mobile-sidebar-btn:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

.dark-theme .mobile-sidebar-btn:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

@media (max-width: 992px) {
  .mobile-sidebar-btn {
    display: inline-block !important;
    visibility: visible !important;
    z-index: 1000;
    position: fixed;
    top: 12px;
    left: 0;
    padding: 0 10px !important;
    margin: 0 !important;
  }
}