@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src:
    local('Nunito Bold'),
    local('Nunito-Bold'),
    url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDFwmdTQ3j6zbXWjgeg.woff2) format('woff2');
  font-display: swap;
}

* {
  font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c0d0e !important;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0d0e;
}

::-webkit-scrollbar-thumb {
  background: #2d333b;
  border-radius: 5px;
  border: 2px solid #0c0d0e;
}

::-webkit-scrollbar-thumb:hover {
  background: #444c56;
}