.sidePanel {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
}

.dark-theme .sidePanel {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidePanelContent {
  transition: all 0.3s ease-in-out;
  margin-top: 0;
}